# dependencies
/node_modules

# misc
.DS_Store

# Zero-Installs 설정
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
#.pnp.*

#tool IntelliJ
.idea

#log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

#.env
.env.development
.env.production
